body {
  background-color: #1a1a1a; }

.materialStorage {
  padding-top: 5em; }
  .materialStorage__box {
    width: 2.85em;
    height: 2.85em;
    background-size: cover;
    margin: 0.2em;
    position: relative; }
  .materialStorage__box--filter {
    filter: grayscale(100%); }
  .materialStorage__category {
    height: 100%;
    width: 33em;
    margin: auto;
    padding-bottom: 4em;
    position: relative; }
  .materialStorage__count {
    font-size: 1em;
    position: absolute;
    right: 5%;
    top: -42%;
    color: #fff4b6; }
  .materialStorage__header {
    position: absolute;
    top: -2.5em;
    color: #fff; }

.accountBank {
  padding-top: 5em; }
  .accountBank__box {
    width: 2.85em;
    height: 2.85em;
    background-size: cover;
    margin: 0.2em;
    position: relative; }
  .accountBank__box--filter {
    filter: grayscale(100%); }
  .accountBank__box--empty {
    background-color: #e1e1e1; }
  .accountBank__tab {
    height: 100%;
    width: 33em;
    margin: auto;
    padding-bottom: 4em;
    position: relative; }
  .accountBank__count {
    font-size: 1em;
    position: absolute;
    right: 5%;
    top: -42%;
    color: #fff4b6; }
  .accountBank__header {
    position: absolute;
    top: -2.5em;
    color: #fff; }
